In [1]:
import psycopg2
import pandas as pd
from dateutil.relativedelta import relativedelta
from datetime import datetime as dt

In [2]:
company_id = 'contato_4b42bcf5-6cb5-47d7-8a4e-6c14b30f7dac'

In [13]:
df_sales = pd.read_excel(r"C:\Users\joaopedro\OneDrive - NAGRO CREDITO AGRO LTDA\Área de Trabalho\dados_app_contato (version 2).xlsx", sheet_name='Vendas (2)')

In [4]:
conn = psycopg2.connect(dbname='postgres', user='postgres', password='1673', host='localhost', port='5432')
cur = conn.cursor()

In [14]:
cur.execute("select * from employees;")
name_columns = [x[0] for x in cur.description]
df_emp = pd.DataFrame(cur.fetchall(), columns=name_columns)

### id_funcionario, nome_funcionario e projeto

In [15]:
df_sales['nome_funcionario'].fillna('', inplace=True)

In [16]:
df_sales['nome_funcionario'] = df_sales['nome_funcionario'].map(lambda x: x.strip())

In [17]:
df_sales.loc[df_sales['nome_funcionario'] == 'ROBERTO BUSSOLA', 'id_funcionario'] = 2
df_sales.loc[df_sales['nome_funcionario'] == 'ANDYARA GUSMAN', 'id_funcionario'] = 1
df_sales.loc[df_sales['nome_funcionario'] == 'DANIEL BUSSOLA', 'id_funcionario'] = 5
df_sales.loc[df_sales['nome_funcionario'] == 'Roberto T', 'id_funcionario'] = 48
df_sales.loc[df_sales['nome_funcionario'] == 'ROBERTO ANDRADE', 'id_funcionario'] = 3
df_sales.loc[df_sales['nome_funcionario'] == 'FLAVIO OLIVEIRA', 'id_funcionario'] = 17
df_sales.loc[df_sales['nome_funcionario'] == 'Carlos', 'id_funcionario'] = 36
df_sales.loc[df_sales['nome_funcionario'] == 'Tabata', 'id_funcionario'] = 16
df_sales.loc[df_sales['nome_funcionario'] == 'Isis', 'id_funcionario'] = 9
df_sales.loc[df_sales['nome_funcionario'] == 'REGIANE BIGON', 'id_funcionario'] = 11
df_sales.loc[df_sales['nome_funcionario'] == 'Eduardo/Thaís', 'id_funcionario'] = 21
df_sales.loc[df_sales['nome_funcionario'] == 'JOÃO NETO', 'id_funcionario'] = 34
df_sales.loc[df_sales['nome_funcionario'] == 'PEDRO DALLA', 'id_funcionario'] = 32
df_sales.loc[df_sales['nome_funcionario'] == 'YAGO GOBBE', 'id_funcionario'] = 33
df_sales.loc[df_sales['nome_funcionario'] == 'Gabrielle', 'id_funcionario'] = 38
df_sales.loc[df_sales['nome_funcionario'] == 'DANIELA FARIA', 'id_funcionario'] = 35
df_sales.loc[df_sales['nome_funcionario'] == 'Rogério', 'id_funcionario'] = 49
df_sales.loc[df_sales['nome_funcionario'] == 'Renato', 'id_funcionario'] = 47
df_sales.loc[df_sales['nome_funcionario'] == 'Giovani C.', 'id_funcionario'] = 39
df_sales.loc[df_sales['nome_funcionario'] == 'LUCIANO HONORIO', 'id_funcionario'] = 44
df_sales.loc[df_sales['nome_funcionario'] == 'Marcos', 'id_funcionario'] = 45
df_sales.loc[df_sales['nome_funcionario'] == 'EVANDRO MOURA', 'id_funcionario'] = 37
df_sales.loc[df_sales['nome_funcionario'] == 'MERCIA', 'id_funcionario'] = 46
df_sales.loc[df_sales['nome_funcionario'] == 'LEONARDO TIROLI', 'id_funcionario'] = 42
df_sales.loc[df_sales['nome_funcionario'] == 'KAREN GONÇALVES', 'id_funcionario'] = 41
df_sales.loc[df_sales['nome_funcionario'] == 'Mercia', 'id_funcionario'] = 46
df_sales.loc[df_sales['nome_funcionario'] == 'Gustavo', 'id_funcionario'] = 40
df_sales.loc[df_sales['nome_funcionario'] == 'TORO', 'id_funcionario'] = 50
df_sales.loc[df_sales['nome_funcionario'] == 'Camila', 'id_funcionario'] = 13
df_sales.loc[df_sales['nome_funcionario'] == 'Flávio Martorelli', 'id_funcionario'] = 8
df_sales.loc[df_sales['nome_funcionario'] == 'LUCAS LOPES', 'id_funcionario'] = 43
df_sales.loc[df_sales['nome_funcionario'] == 'FELIPE (LUDMILA)', 'id_funcionario'] = 51
df_sales.loc[df_sales['nome_funcionario'] == 'EDUARDO DK', 'id_funcionario'] = 52
df_sales.loc[df_sales['nome_funcionario'] == 'CLARA BUSSOLA', 'id_funcionario'] = 53
df_sales.loc[df_sales['nome_funcionario'] == 'RINALDO', 'id_funcionario'] = 54

In [18]:
list_nome_funcionario = []
list_projeto = []
for row in df_sales.itertuples():
    if pd.isna(row.id_funcionario) == False:
        nome_funcionario = df_emp.loc[df_emp['id_funcionario'] == row.id_funcionario, 'nome_funcionario'].values[0]
        projeto = df_emp.loc[df_emp['id_funcionario'] == row.id_funcionario, 'projeto'].values[0]
        list_nome_funcionario.append(nome_funcionario)
        list_projeto.append(projeto)
    else:
        list_nome_funcionario.append(None)
        list_projeto.append(None)
df_sales['nome_funcionario'] = list_nome_funcionario
df_sales['projeto'] = list_projeto

In [23]:
df_sales.to_excel(r"C:\Users\joaopedro\Downloads\df_sales.xlsx", index=False)

In [30]:
df_sales.drop(columns='nome_funcionario2', inplace=True)

### nome_produto e nome_adm

In [21]:
df_sales['nome_produto'] = df_sales['nome_produto'].map(lambda x: x.strip())

In [22]:
cur.execute("select nome_adm, nome_produto from products;")
df_prod = pd.DataFrame(cur.fetchall(), columns=['nome_adm','nome_produto'])

In [23]:
df_sales = pd.merge(df_sales, df_prod, on='nome_produto', how='left')

### data_venda_abv

In [25]:
df_sales['data_venda'] = pd.to_datetime(df_sales['data_venda'])
df_sales['data_venda_abv'] = df_sales.data_venda.map(lambda x: f'{x.year}/0{x.month}' if len(str(x.month)) == 1 else f'{x.year}/{x.month}')

### prod_caract

In [26]:
cur.execute('select id_prod_caract, nome_produto, projeto, qtd_parcelas, taxa_comissao from prod_caract;')
df_prod_caract = pd.DataFrame(cur.fetchall(), columns=['id_prod_caract','nome_produto','projeto','qtd_parcelas','taxa_comissao'])

In [27]:
df_sales = pd.merge(df_sales, df_prod_caract, on=['nome_produto','projeto'], how='left')

In [28]:
list_data_primeira_parcela = []
list_data_ultima_parcela = []
list_valor_comissao = []
for row in df_sales.itertuples():
    if pd.isna(row.qtd_parcelas) == False:
        data = row.data_venda
        taxa_comissao = float(row.taxa_comissao)
        valor_venda = float(row.valor_venda)

        data_primeira_parcela = data + relativedelta(months=1)
        data_primeira_parcela_upd = dt(data_primeira_parcela.year, data_primeira_parcela.month, 10).date()

        data_ultima_parcela = data + relativedelta(months=(int(row.qtd_parcelas)))
        data_ultima_parcela_upd = dt(data_ultima_parcela.year, data_ultima_parcela.month, 10).date()
        list_data_primeira_parcela.append(data_primeira_parcela_upd)
        list_data_ultima_parcela.append(data_ultima_parcela_upd)

        valor_comissao = (taxa_comissao/100) * valor_venda
        list_valor_comissao.append(valor_comissao)
    else:
        list_data_primeira_parcela.append(None)
        list_data_ultima_parcela.append(None)
        list_valor_comissao.append(None)

df_sales['data_primeira_parcela'] = list_data_primeira_parcela
df_sales['data_ultima_parcela'] = list_data_ultima_parcela
df_sales['valor_comissao'] = list_valor_comissao

### income

In [30]:
cur.execute("select id_income, nome_produto, taxa_comissao from income;")
df_income = pd.DataFrame(cur.fetchall(), columns=['id_income','nome_produto','taxa_receita'])

In [31]:
df_sales = pd.merge(df_sales, df_income, on='nome_produto', how='left')

In [32]:
list_receita = []
for row in df_sales.itertuples():
    taxa_receita = float(row.taxa_receita)
    valor_venda = float(row.valor_venda)
    valor_receita = (taxa_receita/100) * valor_venda
    list_receita.append(valor_receita)
df_sales['valor_receita'] = list_receita

In [65]:
df_sales.to_excel(r"C:\Users\joaopedro\Downloads\df_sales.xlsx", index=False)

# Inserir no banco

In [34]:
conn = psycopg2.connect(dbname='postgres', user='postgres', password='1673', host='localhost', port='5432')
cur = conn.cursor()

In [80]:
df_sales = pd.read_excel(r"C:\Users\joaopedro\Downloads\df_sales.xlsx")

In [35]:
df_sales['company_id'] = company_id

In [36]:
df_sales['nome_cliente'] = df_sales['nome_cliente'].map(lambda x: x.replace("'",""))

In [37]:
df_sales['id_venda'].fillna('0', inplace=True)
df_sales['cota'].fillna(0, inplace=True)
df_sales['nome_funcionario'].fillna('Não registrado', inplace=True)
df_sales['id_funcionario'].fillna(0, inplace=True)
df_sales['projeto'].fillna(0, inplace=True)
df_sales['id_prod_caract'].fillna(0, inplace=True)
df_sales['qtd_parcelas'].fillna(0, inplace=True)
df_sales['taxa_comissao'].fillna(0, inplace=True)
df_sales['data_primeira_parcela'].fillna(dt.now(), inplace=True)
df_sales['data_ultima_parcela'].fillna(dt.now(), inplace=True)
df_sales['valor_comissao'].fillna(0, inplace=True)

In [38]:
for row in df_sales.itertuples():
    query = f"INSERT INTO sales (data_venda,id_venda,nome_cliente,valor_venda,grupo,cota,nome_produto,nome_funcionario,id_funcionario,nome_adm,data_venda_abv,projeto,id_prod_caract, \
    taxa_comissao,data_primeira_parcela,data_ultima_parcela,valor_comissao,id_income,taxa_receita,valor_receita) VALUES('{row.data_venda}','{row.id_venda}','{row.nome_cliente}',{row.valor_venda},'{row.grupo}',\
    {row.cota},'{row.nome_produto}','{row.nome_funcionario}',{row.id_funcionario},'{row.nome_adm}','{row.data_venda_abv}','{row.projeto}',{row.id_prod_caract},{row.taxa_comissao},'{row.data_primeira_parcela}',\
    '{row.data_ultima_parcela}',{row.valor_comissao},{row.id_income},{row.taxa_receita},{row.valor_receita});"
    cur.execute(query)
conn.commit()

In [39]:
df_sales[df_sales['id_venda'].duplicated()]

Empty DataFrame
Columns: [data_venda, id_venda, nome_cliente, valor_venda, grupo, cota, nome_produto, nome_funcionario, id_funcionario, projeto, nome_adm, data_venda_abv, id_prod_caract, qtd_parcelas, taxa_comissao, data_primeira_parcela, data_ultima_parcela, valor_comissao, id_income, taxa_receita, valor_receita, company_id]
Index: []

[0 rows x 22 columns]

In [ ]:
df_sales.iloc[496, 'id_venda'] = '400515810-2'